<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljl.opweOpenService.dao.ProductTagMapper">
    <resultMap id="result" type="com.ljl.opweOpenService.entity.pos.ProductTagPo">
        <id property="productTagId" column="product_tag_id" />
        <result property="productId" column="product_id" />
        <result property="tagId" column="tag_id" />
    </resultMap>

    <insert id="insertProductTag" parameterType="com.ljl.opweOpenService.entity.pos.ProductTagPo">
        INSERT INTO main_product_tag(
            product_tag_id,
            product_id,
            tag_id
        ) VALUES (
            #{productTagId},
            #{productId},
            #{tagId}
        )
    </insert>
</mapper>