server:
  port: 8086

spring:
  application:
    name: opweElasticseach
  datasource:
    username: developer01
    password: Dev123456!
    url: jdbc:mysql://101.200.41.70/opweDB?useUnicode=true&characterEncoding=utf-8&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      #minimum idle time ,default 10，less than 0 or greater than maximum-pool-size will be reset to maximum-pool-siz
      minimum-idle: 5
      #less than or equal to 0 will be reset to default value of 10；greater than 0 and less than 1 will be reset to minimum-idle
      maximum-pool-size: 10
      max-lifetime: 300000
      idle-timeout: 180000
      connection-timeout: 30000
#  redis:
#    host: 3.25.98.192
#    port: 6379
#    password: dev123456!
#    lettuce:
#      pool:
#        max-idle: 8
#        min-idle: 2
#        max-wait: 1000
#        max-active: 8
#    timeout: 60s
  elasticsearch:
    rest:
      urls: 101.200.41.70:9200

  mybatis:
    # mybatis配置文件所在位置
    config-location: classpath:mybatis-config.xml
    # mapper配置文件所在位置
    mapper-locations: classpath:mapper/*.xml
    # 实体类所在的位置
    type-aliases-package: com.ljl.inventory.entity